.DS_Store
/data/movies_series.csv
/iac/.terraform
/iac/.terraform.lock.hcl
/iac/terraform.tfstate
/iac/terraform.tfstate.backup
/image/models/finetuned_model/*
!/image/models/finetuned_model/.gitkeep
/model_training/openai_embeddings.pkl
movienv
__pycache__